@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wdth@98.8&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Montserrat;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#1C2833;
    height: 80px;
    width: 100%;
    padding: 0 50px 0 80px;

}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin:0 10px;
}
nav ul li a{
    text-decoration: none;
    font-size:18px;
    font-weight:700;
    color:white;
    transition: 0.5s;
    text-transform: uppercase;
}
.logo{
    font-size:25px;
    font-weight:bold;
    color:white;
}
nav ul li a:hover, nav ul li a.active{
    background-color:#566573;
    padding:7px 12px;
    border-radius:3px;
}
#click{
    display: none;
}
.menu-btn{
    color: white;
    font-size: 22px;
    display: none;
}

/* responsive code start */

@media only screen and (max-width:940px){
  nav ul{
    background-color: #17202A;
    position: fixed;
    top: 80px;
    left: 100%;
    width: 100%;
    height: 100vh;
    padding: 20px;
    flex-direction: column;
    text-align: center;
    transition: all 0.5s ease;
  }
  #click:checked ~ .menu-btn i::before{
    content: "\f00d";
  }
  #click:checked ~ ul{
    left: 0%;
  }
  .menu-btn{
    display: block;
  }
  nav ul li{
    margin: 50px 0;
  }
  nav ul li a{
    font-size: 22px;
  }
  nav ul li a:hover,nav ul li a.active{
    background: none;
    color: red;
  }
}

/* header style code start */
 header{
    background-image: url('images/banner.jpg');
    height:90vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
 }
 
    
